{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Quem somos

Uma empresa que trabalha no ramo de segurança da informação, prestando consultorias para empresas.
 
Forma de trabalho

Através de ferramentas desenvolvidas pela nossa própria empresa, monitoramos diariamente as empresas parceiras, dando feedback de todas possíveis vulnerabilidades que possa existir em cada setor da empresa e onde esta sendo a área mais afetada. E RESOLVER O  PROBLEMA!
</p>

{% endblock %}
